<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>more info</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/mystyle.css}" />
</head>
<body>

<div class="row" layout:fragment="content" style="color: black;">

    <div class="col-lg-12" style="margin-left: 20px;">
        <div class="col-md-5">
            <h3>Ethnicity</h3>

            <table id="ethnicityTable">
                <thead>
                <tr>
                    <th>Ethnicity</th>
                    <th>Number</th>
                </tr>
                </thead>
                <tbody>
                <tr style="font-size: 15px;" th:each="ethnicity : ${hapByEthnicity}">
                    <td th:text="${ethnicity.key}">key</td>
                    <td th:text="${ethnicity.value}">value</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-5">
            <h3>Country</h3>

            <table id="countryTable">
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Number</th>
                </tr>
                </thead>
                <tbody>
                <tr style="font-size: 15px;" th:each="country : ${hapByCountry}">
                    <td th:text="${country.key}">key</td>
                    <td th:text="${country.value}">value</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>