<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
	  
<head lang="en">
	<meta charset="UTF-8"/>
	<title>Search</title>
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/mystyle.css}" />
</head>

<body>
<div class="row" layout:fragment="content" style="color: black;"> 
	<div class="row">
		<div class="col-lg-9 col-md-12" style="margin-left: 150px;">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">Haplotypes search</div>
	    		<div class="panel-body" style="padding-bottom:50px;">
	    		<form th:action="@{/search}" method="post" class="col-sm-12 form-horizontal" th:object="${searchForm}">
                    <div class="row" style="margin-left: 15px;">
	    			<div class="form-group block col-md-1" style="display: block;">
	    				<label class="control-label" for="dys710" style="margin-top:5px;">DYS710</label>
						<select class="ystr_val" id="dys710" th:field="${searchForm.dys710}">
							<option value=""></option>
							<option th:each="d : ${dys710s}" th:value="${d.val}" th:text="${d.val}"></option>
						</select>
	    				<!--<div>
	      					<input type="text" class="form-control" id="dys710" name="dys710" value="0" th:field="${searchForm.dys710}" />
	    				</div> -->
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys518" style="margin-top:5px;">DYS518</label>
                        <select class="ystr_val" id="dys518" th:field="${searchForm.dys518}">
                            <option value=""></option>
                            <option th:each="d : ${dys518s}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys385a" style="margin-top:5px;">DYS385a</label>
                        <select class="ystr_val" id="dys385a" th:field="${searchForm.dys385a}">
                            <option value=""></option>
                            <option th:each="d : ${dys385as}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys385b" style="margin-top:5px;">DYS385b</label>
                        <select class="ystr_val" id="dys385b" th:field="${searchForm.dys385b}">
                            <option value=""></option>
                            <option th:each="d : ${dys385bs}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys644" style="margin-top:5px;">DYS644</label>
                        <select class="ystr_val" id="dys644" th:field="${searchForm.dys644}">
                            <option value=""></option>
                            <option th:each="d : ${dys644s}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys612" style="margin-top:5px;">DYS612</label>
                        <select class="ystr_val" id="dys612" th:field="${searchForm.dys612}">
                            <option value="" selected="selected"></option>
                            <option th:each="d : ${dys612s}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys626" style="margin-top:5px;">DYS626</label>
                        <select class="ystr_val" id="dys626" th:field="${searchForm.dys626}">
                            <option value=""></option>
                            <option th:each="d : ${dys626s}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys504" style="margin-top:5px;">DYS504</label>
                        <select class="ystr_val" id="dys504" th:field="${searchForm.dys504}">
                            <option value=""></option>
                            <option th:each="d : ${dys504s}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys481" style="margin-top:5px;">DYS481</label>
                        <select class="ystr_val" id="dys481" th:field="${searchForm.dys481}">
                            <option value=""></option>
                            <option th:each="d : ${dys481s}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys447" style="margin-top:5px;">DYS447</label>
                        <select class="ystr_val" id="dys447" th:field="${searchForm.dys447}">
                            <option value=""></option>
                            <option th:each="d : ${dys447s}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
					
					<div class="form-group text-center block locus-input col-md-1">
	    				<label class="control-label" for="dys449" style="margin-top:5px;">DYS449</label>
                        <select class="ystr_val" id="dys449" th:field="${searchForm.dys449}">
                            <option value=""></option>
                            <option th:each="d : ${dys449s}" th:value="${d.val}" th:text="${d.val}"></option>
                        </select>
					</div>
                    </div>
                    <div class="row">
					<div class="col-sm-3 col-sm-offset-9" >
                        <button id="search-btn" class="btn btn-default btn-primary" type="submit">Search
                            <i class="glyphicon glyphicon-chevron-right"></i></button>
                        <button id="clear-btn" class="btn btn-default btn-danger">
                            Clear <i class="glyphicon glyphicon-chevron-right"></i></button>
                    </div>
                    </div>
	    		</form>
	    		</div>
	    	</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-lg-9 col-md-12" style="margin-left: 150px;">
	   		<div class="panel panel-default">
	   	  		<div class="panel-heading">Results</div>
	   			<div class="panel-body">
	   				<div class="panel panel-info">
	   					<div class="panel-heading">Observed</div>
	   					<div class="panel-body">
                            <div th:if="${hc} == null">
                                <p>No search</p>
                            </div>
                            <div th:if="${hc} != null" class="col-md-10">
                                <p th:if="${hc} &gt; 0">
                                    <strong>Found <span th:text="${hc}">0</span> matches in
                                        <span th:text="${tc}">0</span> Haplotypes.
                                    </strong>
                                    This is approx. 1 match in <span th:text="${mpo}">0</span> Haplotypes
                                    (95% CI: <span th:text="${cio1}">0</span> - <span th:text="${cio2}">0</span>)
                                </p>
                                <p th:if="${hc} == 0">
                                    Found no match in <span th:text="${mpo}">0</span> Haplotypes
                                </p>
                            </div>
                            <div th:if="${hc} != null" class="col-md-2">
                                <form id="more-infor" th:action="@{/moreinfo}" method="post" th:object="${searchForm}">
                                    <button type="submit" class="btn btn-success">Success</button>
                                </form>
                            </div>
	   					</div>
	   				</div>
	   				<div class="panel panel-info">
	   					<div class="panel-heading">Expected</div>
	   					<div class="panel-body">
                            <div th:if="${hc} == null">
                                <p>No search</p>
                            </div>
                            <div th:if="${hc} != null">
                                <strong> (n + 1)/ (N +1).</strong>
                                This is approx. 1 match in
                                <span th:text="${mpe}">0</span> Haplotypes
                                (95% CI: <span th:text="${cie1}">0</span> - <span th:text="${cie2}">0</span>)<br/>

								<strong>Kappa</strong>
								This is approx. 1 match in <span th:text="${kappa}">0</span> Haplotypes
                            </div>
	   					</div>
	   				</div>
	   		  	</div>
	    	</div>
    	</div>
    </div>
   	<div class="row">
   		<div class="col-lg-9 col-md-12" style="margin-left: 150px;">
	    	<div class="panel panel-success" id="panel-map">
	    		<div class="panel-heading" >Map</div>
	    		<div class="panel-body" id="panel-body-map" style="height: 500px; position: relative; overflow: hidden;">
	    			<div id="map" style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"></div>
				</div>
			</div>	
		</div>
   	</div>
</div>

<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/map.js}"></script>
	<script type="text/javascript" async="async" defer="defer" 
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGSBGpSqwZUYG6r5NWpiCXONzKFM4Qdys&amp;callback=initMap"></script>
</th:block>
</body>
</html>